<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Dashboard</h4>
                    </div>                    
                    <div class="content">
                        <div>
                            <p>
                                Dashboard data would go here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
