<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Patient Service</h4>
                    </div>                    
                    <div class="content">
                        <form *ngIf="patientService$ | async;" [formGroup]="patientServiceForm" (ngSubmit)="onSubmit(patientServiceForm)" novalidate >
                            <div class= "row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Medical Record Number</label>
                                        <input type="text" class="form-control" formControlName="medicalRecordNumber">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Date of Service</label>
                                        <input type="text" class="form-control" formControlName="dateOfService">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title">Performed Exams</h4>
                                            </div>                       
                                            <div class="content">
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Doctor</th>
                                                                    <th>Exam</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let performedExam of performedExams">
                                                                        <td>{{ getDoctorName(performedExam.doctorId) }}</td>
                                                                        <td>{{ getExamName(performedExam.examId) | async }}</td>
                                                                        <td><button (click)="deleteExam(performedExam.doctorId, performedExam.examId)" type="button" class="btn btn-danger btn-sm">Delete</button></td>
                                                                    </tr>
                                                            </tbody>
                                                    </table>
                                                </div>
                                                <div class="btn-toolbar">
                                                        <button type="button" class="btn btn-primary btn-fill pull-right" (click)="openModal(template)">Add</button>
                                                </div>
                                                <div class="clearfix"></div>   
                                            </div>
                                        </div>                           
                                    </div>
                                </div>        
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary btn-fill pull-right">Save</button>
                                <button [routerLink]="['/patient/services']" class="btn btn-secondary btn-fill pull-right">Cancel</button>   
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Exam</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Exam:

    <select>
        <option *ngFor="let exam of exams" value= {{exam.id}}>
            {{exam.name}}
        </option>
    </select>
    <div class="btn-toolbar">
            <button type="button" class="btn btn-primary btn-fill pull-right" (click)="openModal(template)">Add</button>
    </div> -->
    <form [formGroup]="examForm" (ngSubmit)="onSubmitExam(examForm)" novalidate >
            <div class= "row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Exam</label>
                        <select class="form-control" formControlName="examId">
                                <option *ngFor="let exam of exams$ | async" value= {{exam.id}}>
                                    {{exam.name}}
                                </option>
                        </select>
                        <label>Doctor</label>
                        <select class="form-control" formControlName="doctorId">
                                <option *ngFor="let doctor of doctors" value= {{doctor.id}}>
                                    {{doctor.firstName}}
                                </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary btn-fill pull-right">Add</button>
            </div>            <div class="clearfix"></div>
        </form>
  </div>
</ng-template>