<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patientService of patientServices$ | async">
                                        <td>{{ patientService.medicalRecordNumber }}</td>
                                        <td>{{ patientService.dateOfService }}</td>
                                        <td><button [routerLink]="['/patient/services', patientService.id]" type="button" class="btn btn-primary btn-sm">Select</button></td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
            <app-paginator *ngIf="page$" [page]="page$ | async" (pageChange)="onPageChanged($event)"></app-paginator>
    </div>
</div>
