<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{action}} Billing Activity</h4>
                    </div>                    
                    <div class="content">
                         <form *ngIf="billingJournal$ | async;" [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate >
                            <div class= "row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" formControlName="billedEntityName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" formControlName="amount">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" class="form-control" formControlName="statusId">
                                    </div>
                                </div>
                            </div>                     
                            
      
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Attachments</h4>
                                        </div>
                                        <div class="content">
                                            <div class="content table-responsive table-full-width">
                                                <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let attachment of displayedAttachments">
                                                                    <td>{{ attachment.name }}</td>
                                                                    <td></td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title">Payment Activity</h4>
                                            </div>
                                            <div class="content">
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date Billed</th>
                                                                    <th>Amount</th>
                                                                    <th>Status</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let paymentActivity of displayedPaymentActivities">
                                                                        <td>{{ paymentActivity.datePaid.toDateString() }}</td>
                                                                        <td>{{ paymentActivity.amount }}</td>
                                                                        <td>{{ paymentActivity.statusId }}</td>
                                                                        <td></td>
                                                                    </tr>
                                                            </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
